 /* mail list */

 .mail-data {
     display: flex;
     padding: 10px 0px;
     background-color: #ffffff;
     margin-bottom: 1px;

     letter-spacing: normal;
     text-align: start;
     line-height: normal;
     transition: .05s;
     cursor: pointer;
     /* box-shadow: inset rgba(47, 69, 92, 0.192) 3px -2px 1px 0px; */

 }

 .input-td {
     display: flex;
     margin-right: 10px;
     transform: scale(1.2);
 }



 .mail-data:hover {
     transform: scale(1.002);
     /* scale: 1.002; */
     transform-origin: center;
     box-shadow: inset rgba(47, 69, 92, 0.192) 0px -5px 10px 0px;
 }

 .mail-data-container> :first-child {
     margin-top: .7px;
     /* border-top-left-radius: 1000%; */

 }

 .mail-data-container {
     background-color: rgb(128, 128, 128);

 }

 .read {
     background-color: #f2f6fc;
 }