 /* mail list */

 .mail-main {
     background-color: #FFFFFF;
 }

 .mail-data {
     display: flex;
     padding: 10px 0px;
     background-color: #ffffff;
     /* margin-bottom: 1px; */
     width: 95.68vw;
     letter-spacing: normal;
     text-align: start;
     line-height: normal;
     /* transition: .05s; */
     cursor: pointer;
     /* box-shadow: inset rgba(47, 69, 92, 0.192) 3px -2px 1px 0px; */
     box-shadow: var(--webkit-box-shadow);
     height: 20px;
 }

 .input-td {
     display: flex;
     margin-left: .5rem;
     align-self: center;
     transform: scale(1.2);

 }

 .star-icon,
 .star-clicked-icon {
     padding: 5px;
     transition: .08s;
 }

 .star-icon:hover {
     fill: #484B4B;
     background-color: #484b4b1e;
     border-radius: 50%;

 }

 .star-clicked-icon:hover {
     background-color: #484b4b1e;
     border-radius: 50%;
 }

 .mail-data:hover {
     transform: scale(1.01);

     transform-origin: center;
     /* box-shadow: inset rgba(47, 69, 92, 0.192) 0px -5px 10px 0px; */
     box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
     z-index: 2;
 }

 .read {
     background-color: #f2f6fc;
 }

 .text-container {
     width: 100%;
     display: flex;
     justify-content: start;
     align-items: center;

 }

 .text-container .span-text {
     margin-right: 1rem;
     font-size: 14px;
     text-align: start;
     letter-spacing: normal;
     /* line-height: 20px; */
     color: #5f6368;
     font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

 }


 .text-container .sub {
     color: #202124;

 }

 .text-container .subject {
     font-weight: 700;
     color: #202124;
 }


 .text-container .span-date {
     margin-left: auto;
     margin-right: 1rem;
     font-family: sans-serif;

     color: #5f6368;
 }