 /* mail list */

 .mail-data {
     display: flex;
     padding: 10px 0px;
     background-color: #ffffff;
     margin-bottom: 1px;
     font-size: 16px;
     letter-spacing: normal;
     text-align: start;
     line-height: normal;
     /* box-shadow: rgba(47, 69, 92, 0.192) 0px -5px 0px 0px inset; */
     transition: .2s;
     /* box-shadow: inset rgba(47, 69, 92, 0.192) 2px -4px 5px 0px; */
     cursor: pointer;
 }

 .mail-data:hover {

     scale: 1.018;
     transform-origin: center;
     box-shadow: inset rgba(47, 69, 92, 0.192) 3px -2px 1px 0px;
 }

 .mail-data-container> :first-child {
     margin-top: .7px;
 }

 .mail-data-container {
     background-color: rgb(128, 128, 128);
 }