.notes-container{
    
    background-color: #fff; 
    width: 90vw;
    column-count: 3; 
    column-width: 300px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-flow: dense;
    gap: 20px;
}
.note-preview {
    background-color: #fff;
    border: 0.5px solid;
    border-color: #e0e0e0;
    margin-bottom: 10px;
    position: relative;
    display: block;
    border-radius: 8px;
    
    margin: 5px;
    align-items: center;
    border-radius: 9px;
    margin: 12px;
    padding-right: 20px;
    padding: 10px;
    }
    .note-preview:hover{
        box-shadow:  1px 0px 5px rgb(190, 190, 191, .73);
    }
    .note-preview img {
        width: 100%;
    }
    
    .note-preview p {
        margin-bottom: 50px;
        overflow-wrap: break-word;
    }
    .btn-pin{
        background-image: url(../../../../../assets/img/icons-note/icon/pin.png);
        width: 25px;
        height: 25px;
        position: absolute;
        
        bottom:  15px;
        background-size: cover;
        border: none;
    }
    .input-check-note :checked{
        color: #F39F76;
    }
    .btn-mail{
        background-image: url(../../../../../assets/img/icons-note/icon/mail.png);
        width: 25px;
        height: 25px;
        position: absolute;
        left: 60px;
        bottom:  15px;
        background-size: cover;
        border: none;
    }
    .body-text{
      
        position: relative;
        left: 1em;
        bottom: 1em;
    }
    
    .btn-update{
        background-image: url(../../../../../assets/img/icons-note/icon/edit.png);
        width: 25px;
        height: 25px;
        position: absolute;
        right: 35px;
        bottom:  15px;
        background-size: cover;
        border: none;
    }
    .btn-remove{
        background-image: url(../../../../../assets/img/icons-note/icon/trash.png);
        width: 25px;
        height: 25px;
        position: absolute;
        right:  5px;
        bottom:  15px;
        background-size: cover;
        border: none;
        background-color: transparent;
    }

    .btn-color{
        width: 25px;
        height: 25px;
       background-color: pink;
        border-radius: 50%;
        border: none;
        position: absolute;
        right: 70px;
        bottom:  15px;
    }  
    .FAAFA7{
        background-color:#FAAFA7 ;
    }
    .F39F76{
        background-color:#F39F76 ;
    }
    .FFF8B8{
        background-color:#FFF8B8 ;
    }
    .FAAFA7{
        background-color:#E2F5D3 ;
        
    }
    .button-picker{
        bottom: none;
        margin: 5px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .color-picker-container{
        position: absolute;
        width: 190px;
        bottom: -45px;
    }
        